<%- include commons/header.ejs %>

	<head>
		<title>Network Gatekeeper</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Banner -->
				<section id="banner">
					<h2>Network Gatekeeper</h2>
					<p>Protecting the integrity of your network</p>
					<ul class="actions special">
						<li><a href="#" class="button">Magna Sed Etiam</a></li>
					</ul>
				</section>

			<!-- One -->
				<div class="wrapper style1">
					<section class="container">
						<header class="major">
							<h2>Provided Services</h2>
							<p>We provide 24/7 one on one support specializing in the following services.</p>

						</header>
						<div class="row gtr-uniform">
							<div class="col-4 col-12-narrower">
								<section class="box special">
									<i class="icon major fa-user"></i>
									<h3>On Demand IT</h3>
									<p>Morbi in sem quis dui placerat ornare lorem pellentesque odio nisi sed euismod. In tempus posuere augue eu magna adipiscing.</p>
								</section>
							</div>
							<div class="col-4 col-12-narrower">
								<section class="box special">
									<i class="icon major fa-tint"></i>
									<h3>Network Setup</h3>
									<p>Morbi in sem quis dui placerat ornare lorem pellentesque odio nisi sed euismod. In tempus posuere augue eu magna adipiscing.</p>
								</section>
							</div>
							<div class="col-4 col-12-narrower">
								<section class="box special">
									<i class="icon major fa-cog"></i>
									<h3>Network Security</h3>
									<p>Morbi in sem quis dui placerat ornare lorem pellentesque odio nisi sed euismod. In tempus posuere augue eu magna adipiscing.</p>
								</section>
							</div>
							<div class="row gtr-uniform">
								<div class="col-4 col-12-narrower">
									<section class="box special">
										<i class="icon major fa-user"></i>
										<h3>Database Management</h3>
										<p>Morbi in sem quis dui placerat ornare lorem pellentesque odio nisi sed euismod. In tempus posuere augue eu magna adipiscing.</p>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section class="box special">
										<i class="icon major fa-tint"></i>
										<h3>Cloud Computing</h3>
										<p>Morbi in sem quis dui placerat ornare lorem pellentesque odio nisi sed euismod. In tempus posuere augue eu magna adipiscing.</p>
									</section>
								</div>
								<div class="col-4 col-12-narrower">
									<section class="box special">
										<i class="icon major fa-cog"></i>
										<h3>Software Support</h3>
										<p>Morbi in sem quis dui placerat ornare lorem pellentesque odio nisi sed euismod. In tempus posuere augue eu magna adipiscing.</p>
									</section>
								</div>
						</div>
					</section>
				</div>

			<!-- Two -->
				<div class="wrapper style2">
					<section class="container medium">
						<header class="major">
							<h2>Acquired Skills</h2>
							<p>Aliquet ante lobortis non semper gravida. Accumsan faucibus praesent ante aliquet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi lorem. Semper blandit. Amet adipiscing interdum.</p>
						</header>
						<div class="row gtr-uniform">
							<div class="col-6 col-12-narrower">
								<section class="box special">
									<i class="icon major alt fa-bar-chart"></i>
									<h3>Ipsum Feugiat</h3>
									<p>Aliquet ante lobortis semper gravida. quet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi lorem ipsum dolor sit amet nullam.
									Amet semper interdum nunc aliquam lobortis id lobortis.</p>
								</section>
							</div>
							<div class="col-6 col-12-narrower">
								<section class="box special">
									<i class="icon major alt fa-bar-chart"></i>
									<h3>Ipsum Feugiat</h3>
									<p>Aliquet ante lobortis semper gravida. quet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi lorem ipsum dolor sit amet nullam.
									Amet semper interdum nunc aliquam lobortis id lobortis.</p>
								</section>
							</div>
							<div class="col-6 col-12-narrower">
								<section class="box special">
									<i class="icon major alt fa-bar-chart"></i>
									<h3>Ipsum Feugiat</h3>
									<p>Aliquet ante lobortis semper gravida. quet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi lorem ipsum dolor sit amet nullam.
									Amet semper interdum nunc aliquam lobortis id lobortis.</p>
								</section>
							</div>
							<div class="col-6 col-12-narrower">
								<section class="box special">
									<i class="icon major alt fa-cog"></i>
									<h3>Lorem Tempus</h3>
									<p>Aliquet ante lobortis semper gravida. quet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi lorem ipsum dolor sit amet nullam.
									Amet semper interdum nunc aliquam lobortis id lobortis.</p>
								</section>
							</div>
							<div class="col-6 col-12-narrower">
								<section class="box special">
									<i class="icon major alt fa-cog"></i>
									<h3>Lorem Tempus</h3>
									<p>Aliquet ante lobortis semper gravida. quet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi lorem ipsum dolor sit amet nullam.
									Amet semper interdum nunc aliquam lobortis id lobortis.</p>
								</section>
							</div>
							<div class="col-6 col-12-narrower">
								<section class="box special">
									<i class="icon major alt fa-desktop"></i>
									<h3>Gravida Adipiscing</h3>
									<p>Aliquet ante lobortis semper gravida. quet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi lorem ipsum dolor sit amet nullam.
									Amet semper interdum nunc aliquam lobortis id lobortis.</p>
								</section>
							</div>
						</div>
					</section>
				</div>

			<!-- Three -->
				<div class="wrapper style3">
					<section class="container">
						<header class="major">
							<h1>About Network Gatekeeper</h1>
						</header>
						<div class="Valerie">
						<img src="https://i.imgur.com/3hEmBM8.jpg" alt="Valerie" width="200" height="250"/>
						</div>
						<div class="txt">
						<h5>Valerie Knight is the CEO of Network Gatekeeper and has over 15 years of experience in the industry.
							 She had a Bachelor’s of Science in Information technology with an emphasis in Security and a Master of
              Science in Information Technology Management. Additional Certifications include a MCSE (Microsoft
              Certified System Engineer. Valerie manages a team of professionals whose main goal is to add a human touch to your computing
              experience.</h5>
						</div>
						<!-- <div class="row">
							<div class="col-4 col-12-narrower">
								<section class="special">
									<a href="#" class="image fit"><img src="http://appworxinfo.co.in/assets/images/business_soft_dev.jpg" alt="" width="300" height="250" /></a>
									<h3>Etiam Interdum</h3>
									<p>Praesent dapibus, neque id cursus tortor magna etiam lorem
									neque egestas sed magna tempus.</p>
									<ul class="actions special">
										<li><a href="#" class="button alt">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-narrower">
								<section class="special">
									<a href="#" class="image fit"><img src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/lD45MxBOQOKhmVREFE8w" alt="" width="300" height="250" /></a>
									<h3>Varius Faucibus</h3>
									<p>Praesent dapibus, neque id cursus tortor magna etiam lorem
									neque egestas sed magna tempus.</p>
									<ul class="actions special">
										<li><a href="#" class="button alt">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-narrower">
								<section class="special">
									<a href="#" class="image fit"><img src="https://www.xda-developers.com/files/2017/03/81e7e36da081fc3d650d164652b40cada03a88da_main_hero_image.jpg" alt="" width="300" height="250" /></a>
									<h3>Ante Praesent</h3>
									<p>Praesent dapibus, neque id cursus tortor magna etiam lorem
									neque egestas sed magna tempus.</p>
									<ul class="actions special">
										<li><a href="#" class="button alt">Learn More</a></li>
									</ul>
								</section>
							</div> -->
						</div>
					</section>
				</div>

			<!-- Four -->
				<div class="wrapper style1">
					<section class="container medium">
						<header class="major">
							<h2>Contact</h2>
							<h5>Valerie manages a team of professionals whose main goal is to add a human touch to your computing
experience.</h5>
						</header>
						<div id="contact" class="box">
							<div class="row gtr-uniform">
								<div class="col-7 col-12-narrower">
									<form method="post" action="#">
										<div class="row gtr-uniform gtr-50">
											<div class="col-12">
												<input type="text" name="name" id="name" placeholder="Name" />
											</div>
											<div class="col-12">
												<input type="email" name="email" id="email" placeholder="Email" />
											</div>
											<div class="col-12">
												<textarea name="message" id="message" placeholder="Message" rows="7"></textarea>
											</div>
											<div class="col-12">
												<ul class="actions">
													<li><input type="submit" value="Send" /></li>
													<li><input type="reset" class="alt" value="Reset" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>
								<div class="col-5 col-12-narrower">
									<ul class="labeled-icons">
										<li>
											<h3 class="icon fa-map-marker"><span class="label">Address</span></h3>
											Valerie@networkgatekeeper.com
										</li>
										<li>
											<h3 class="icon fa-phone"><span class="label">Phone</span></h3>
											1+(415)-314-6898
										</li>
										<li>
											<h3 class="icon fa-facebook"><span class="label">Facebook</span></h3>
											<a href="#">facebook.com/untitled-tld</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
				</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>

<%- include commons/footer.ejs %>
