<header id="header" class="alt">
        <h1><a href="index.html">Valerie Knight</a></h1>
        <nav id="nav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li>
              <a href="#" class="icon fa-angle-down">Services</a>
              <ul>
                <li><a href="left-sidebar.html">Left Sidebar</a></li>
                <li><a href="right-sidebar.html">Right Sidebar</a></li>
                <li><a href="no-sidebar.html">No Sidebar</a></li>
                <li>
                  <a href="#">Contact</a>
                  <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/about">Services</a></li>
                    <li><a href="/contacts">Contact</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="elements.html">Contacts</a></li>
          </ul>
        </nav>
      </header>
